.leftcontent{
    margin-right: 170px;
}
.rightcontent{
    position: fixed;
    right:0px;
    width: 170px;
    top:80px;
    padding: 10px;
}
.list-content {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 10px;
    min-height: 150px;
}
.list-content .title {
    border-bottom: 1px dotted #ccc;
    line-height: 30px;
}
.list-content ul {
    margin-left: 15px;
    margin-right: 5px;
    line-height: 25px;
}
.group{
    margin-top: 10px;
    border-bottom: 1px dashed #ccc;
}
.group .title{
    font-size: 16px;
    color: #4f90d4;
    line-height: 40px;
}
.sw-btn {
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: .2s all ease-in-out;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px 0px 10px 10px;
    width: 100%;
}
.sw-btn:hover {
    border-color: #00a7d0;
    box-shadow: inset 0 0 0 1px #00a7d0;
}
.sw-btn-icon, .sw-btn-text {
    display: table-cell;
}
.sw-icon-wrapper {
    background: #ffa636;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    width: 52px;
    height: 52px;
    padding-top: 5px;
    line-height: 50px;
    font-size: 32px;
}
.sw-icon-wrapper.row1 {
    background: #34ccfe;
}
.sw-icon-wrapper.row2 {
    background: #64be67;
}
.sw-btn-text {
    vertical-align: top;
    padding-left: 10px;
}
.sw-btn-text p {
    margin: 0;
    font-size: 16px;
    cursor: pointer;
}
.sw-btn-text span {
    font-size: 12px;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

